<div class="container col-md-4 mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Hi <%= @user.name.capitalize %></h5>
        <div class="card-body">
          <h5 class="card-title">Welcome</h5>
          <p class="card-text">Your email is <%= @user.email%></p>
          <a href="#" class="btn btn-primary btn-block">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>